.profileCard {
  background-color: white;
}

.mainImage {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
}

.starRating input{
  display: none;
}

.facilityInfo {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
}

.headerStar input {
  display: none;
}

.title {
  position: relative;
  text-align: center;
}

.description {
  position: relative;
  float: left;
  font-family: 'Josefin Sans', sans-serif;
  width: 75%;
}

.contactInfo {
  position: relative;
  margin: auto;
  float: left;
  font-family: 'Josefin Sans', sans-serif;
  width: 25%;
}

.starRating {
  position: relative;
  text-align: center;
}