body {
  background-color: #EFF2F3;
}


.sideBar {
  border-right: 1px solid #27AE60;
  padding: 1%;
  font-family: 'Oxygen', sans-serif;
  color: #717273;
}

.filterTitle {
  color: #27AE60;
  font-weight: bold;
  font-size: 18px;
}

.filterButton {
  text-align: center;
  width: 100%;
  height: 30px;
  background-color: #27AE60;
  color: white;
  font-size: 21px;
  font-weight: bold;
}

.filterButton:hover {
  cursor: pointer;
  background-color: #3760b7;
}

.filterSlider {
  width: 200px;
}

#starRating {
  padding-top: 3px;
  display: inline-block;
}

.star {
  display: inline-block;
  width: 18px;
  height: 17px;
  margin-right: 15px;
  background: url('../images/rating.png') no-repeat 0 -17px;
}

.star:hover {
  background-position:0 0;
}

.star.check {
  background-position:0 0;
}