.header {
  height: 40px;
  width: 100%;
  /*background-color: #123D99;*/
  background-color: #27AE60;
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
}

div.inline {
  float: right;
  margin-right: 18%;
}

.appName {
  margin-left: 5%;
}

.icon {
  margin-left: 1%;
  width: 30px;
  height: 30px;
  background: url('../images/home.png');
  background-size: cover;
}

.headerSearchForm {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  width: 50%;
  height: 30px;
  border-radius: 15px;
  color: black;
  font-size: 20px;
}

.headerSearchForm input {
  margin: 0;
  padding: 0;
  height: 30px;
  width: 85%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.headerSearchForm button {
  font-size: 20px;
  font-weight: 50;
  margin: 0;
  padding: 0;
  height: 30px;
  width: 15%;
  background-color: #EFF2F3;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}