.content-wrap {
    display: table-cell;
    vertical-align: middle;
}

.content {
    margin-top: -24px;
}

.heading-lg {
    font-size: 50px;
    letter-spacing: 8px;
    font-weight: bold;
    font-family: 'Oxygen', sans-serif;
    text-transform: uppercase;
    color: #123D99;
}



.heading-sub {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 100;
}

.main {
    background-repeat: no-repeat;
    background-position: bottom;
    display: table;
    width: 100%;
    height: 500px;
    text-align: center;
    background-image: url('http://2.bp.blogspot.com/-H1ooPEj-bCU/UMTzr7gJBOI/AAAAAAAABtQ/jUn7ZpTv4F4/s1600/Black+and+White+Beach+Landscape+Wallpaper+HD+%252811%2529.jpg');
    background-size: cover;

}