
.mainpicContainer {
margin-left:15%;
margin-bottom: 30px;
}
.mainpic {
  width:500px;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.information {
  height: 600px;
  overflow:scroll;
  border:0px;
  border-left: 1px solid black;
}

h3 {
  color: #DC7633;
}
h1 {
  color: #DC7633;
}

.individualReview {
  padding:12px;
  margin-bottom: 15px;
  background-color: rgba(255,255,255, 0.5);

  -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.15);

}
.scrollList {
  text-align: right;
  border: 0px;
  padding-top: 10px;
}

.scrollTitle {
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}
::-webkit-scrollbar {
    display: none;
}

.wrapper {
  margin-top: 2%;
}

li a {
  font-size: 20px;
}