.profileCard {
  border: 1px solid grey;
  height: 190px;
  margin-left: 30px;
  color: #717273;
  border-radius: 3px;
  font-size: 18px;
}

.profileCard-specialty {
  background-color: white;
  border: 1px solid grey;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-left: 30px;
  color: #717273;
  border-radius: 3px;
  font-size: 14px;
}

.profile {
  margin-bottom: 30px;
}

.profileCard:hover {
  -webkit-box-shadow: 4px 4px 6px 1px rgba(0,0,0,0.35);
  -moz-box-shadow: 4px 4px 6px 1px rgba(0,0,0,0.35);
  box-shadow: 4px 4px 6px 1px rgba(0,0,0,0.35);
  cursor: pointer;
}

.profileCard:hover h3 {
  text-decoration: underline;
}

.num_ratings {
  font-size: 15px;
  vertical-align: top;
}

.image {
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;

}

.profileCardSubtitle {
  color: #27AE60;
  font-weight: bold;
  margin-top: 13px;
  margin-bottom: 2px;
}

.info {
  margin-top: 2px;
  line-height: 19px;
  padding-right: 20px
}

.profileCardImg {
  width: 100%;
  height: 100%;
  /*border-radius: 10px;*/
  /*margin: 10%*/
}

.profileCardName {
  font-weight: bold;
  color: #DC7633;
}

.starRating input {
  display: none;
}

.profileCardSpecialties span {
  line-height: 20px;
  /*border: 1px solid blue;*/
  border-radius: 2px;
  margin-right: 2px;
}

/*.starRating {
  width: 20px;
  height: 20px;
}*/