.profileCard {
  border: .3px solid grey;
  height: 200px;
  margin-left: 30px;
  margin-bottom: 30px;
 color: #717273;
}

.num_ratings {
  font-size: 14px;
}

.image {
  height: 200px;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;

}

.info {
  margin-top: 2px;
  line-height: 12px;
}

.profileCardImg {
  width: 80%;
  height: 80%;
  border-radius: 10px;
  margin: 10%
}

.starRating input {
  display: none;

}

.info {
  height: 200px;
  padding-right: 0px
}

.profileCardSpecialties span {
  line-height: 20px;
  border: 1px solid blue;
  border-radius: 2px;
  margin: 2px;
}

.starRating {
  width: 20px;
  height: 20px;
}