.inputBox {
  vertical-align: bottom;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  width: 500px;
  height: 50px;
  background-color:transparent;
  border: 0px;
  border: 1px solid black;
  font-size: 35px;
  font-weight: 100;
  font-family: 'Oxygen', sans-serif;

 
}


.submit {
  padding: 0px;
  margin-bottom:0px;
  width: 100px;
  height: 50px;
  background-color:transparent;
  border:0px;
  border: 1px solid black;
  margin-left: 5px;
  font-size: 25px;
  color: black;
}

::-webkit-input-placeholder {
   color: black;
   font-weight: 50;
   font-size: 20px;
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   color: black; 
   font-weight: 50;
   font-size: 20px; 
   font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black; 
   font-weight: 50; 
   font-size: 20px;
   font-style: italic;
}

:-ms-input-placeholder {  
   color: black;  
   font-weight: 50;
   font-size: 20px;
   font-style: italic;
}