.inputBox {
  border: 1px solid grey;
  font-family: 'Oxygen', sans-serif;
  vertical-align: bottom;
}

.search .inputBox {
  border-radius: 25px;
  font-size: 35px;
  font-weight: 100;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  width: 500px;
  height: 50px;
}

.submit {
  background-size: cover;
  padding: 0px;
  margin-bottom:0px;
  width: 50px;
  height: 50px;
  background-color:transparent;
  border: 1px solid grey;
  margin-left: 5px;
  font-size: 25px;
  color: grey;
  vertical-align: bottom;
}

.search input {
  padding-left: 1%;
}

.search .submit {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
}

.search ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 50;
  font-size: 30px;
}

.search :-moz-placeholder { /* Firefox 18- */
  color: rgba(0, 0, 0, 0.5);
  font-weight: 50;
  font-size: 20px;
}

.search ::-moz-placeholder {  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.5);
  font-weight: 50;
  font-size: 20px;
}

.search :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 50;
  font-size: 20px;
}